.list-item {
    width: 100%;
    background-color: white;
    margin-top: 4px;
    border-radius: 16px;
    border: 4px solid #f3f3f3;
    margin-left: 0;
    @include transition (all .3s ease-in-out);

    > * {
        height: 70px;
    }

    &:hover, &.hover {
        border: 4px solid #000;
        background-color: #ddd;
        box-shadow: 3px 3px 3px 0.5;
    }

    &.selected {
        margin-left: -100px;
    }

    .icon {
        border: 1px solid #999;
        border-radius: 12px 0px 0px 12px;
        border-right-width: 0px;

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 2px solid #bbb;
            background-color: #bbb;
            margin-top: 10px;
        }
    }

    .title {
        padding: 8px;
        border: 1px solid #999;
        border-width: 1px 0px;

        h3 {
            width: 100%;
            color: limegreen;
            font-weight: bold;
            font-size: 2rem;
            margin: 0px;
            padding: 0px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        em, strong {
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;            
        }

        em {
            color: #999;
            font-style: normal;
            width: 115px;
        }

        strong {
            color: #444;
            font-style: normal;
            font-weight: normal;
            width: 125px;
        }
    }

    .label {
        border-radius: 0px 12px 12px 0px;
        color: white;
        font-size: 4rem;
        padding: 0px;
        padding-top: 15px;
        text-align: center;
    }
}

