* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  overflow: hidden; }

.col-md-8 {
  height: 1080px;
  position: relative; }

.current-campaign {
  height: 100%;
  -webkit-background-size: cover; }

.message-container {
  background: #f3f3f3; }
  .message-container .messages {
    background: #f3f3f3;
    margin: -10px 0 0 -30px;
    padding: 10px 0 0 30px; }

header {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px; }
  header h1 {
    font-size: 41px;
    color: white;
    margin: 0px;
    font-weight: bold; }
  header img.icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid #fff;
    background-color: #bbb;
    margin: auto; }
  header .over-title {
    color: #fff;
    font-size: 25px; }
    header .over-title strong {
      color: #FF619A; }
  header .sub-title {
    color: limegreen;
    display: block; }
    header .sub-title .country-name {
      display: inline-block; }
      header .sub-title .country-name:before {
        position: relative;
        content: '';
        height: 21px;
        width: 24px;
        background: url("img/icons/icon-location.svg");
        margin-right: 20px; }
    header .sub-title .country-region {
      display: inline-block; }
      header .sub-title .country-region:before {
        position: relative;
        content: '';
        height: 21px;
        width: 24px;
        background: url("img/icons/icon-tag.svg");
        margin-right: 20px; }

footer {
  color: white;
  font-weight: bold;
  bottom: 0px;
  position: fixed;
  width: 100%;
  margin: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px; }
  footer .project-fund-amount-slider {
    border-radius: 1em;
    display: block;
    overflow: hidden;
    background-color: red; }
    footer .project-fund-amount-slider .slider-progress {
      position: relative;
      display: block;
      border-radius: 1em 0 0 1em;
      background-color: green;
      color: blue;
      text-align: right;
      white-space: nowrap;
      line-height: 1em;
      height: 1em; }
      footer .project-fund-amount-slider .slider-progress .slider {
        padding: 0 0.5em;
        font-style: normal; }
      footer .project-fund-amount-slider .slider-progress .slider-percentage {
        visibility: hidden; }

.list-item {
  width: 100%;
  background-color: white;
  margin-top: 10px;
  border-radius: 16px;
  border: 4px solid #f3f3f3;
  margin-left: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .list-item > * {
    height: 90px; }
  .list-item:hover, .list-item.hover {
    border: 4px solid #000;
    background-color: #ddd;
    box-shadow: 3px 3px 3px 0.5; }
  .list-item.selected {
    margin-left: -100px; }
  .list-item .icon {
    border: 1px solid #999;
    border-radius: 12px 0px 0px 12px;
    border-right-width: 0px; }
    .list-item .icon img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 2px solid #bbb;
      background-color: #bbb;
      margin-top: 14px; }
  .list-item .title {
    padding: 8px;
    border: 1px solid #999;
    border-width: 1px 0px; }
    .list-item .title h3 {
      width: 100%;
      color: limegreen;
      font-weight: bold;
      font-size: 2rem;
      margin: 0px;
      padding: 0px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; }
    .list-item .title em {
      color: #999;
      font-style: normal; }
    .list-item .title strong {
      color: #444;
      font-style: normal;
      font-weight: normal; }
  .list-item .label {
    border-radius: 0px 12px 12px 0px;
    background-color: #ff6191;
    color: white;
    font-size: 4rem;
    padding: 24px 16px;
    text-align: right; }

/*# sourceMappingURL=dashboard.css.map */
