* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-family: "helvetica Neue", "Helvetica", sans-serif;
  font-weight: 200; }

header {
  background-color: #298ec3;
  padding: 0.5em 1em;
  text-align: center; }
  header h1 {
    color: #fff;
    font-weight: normal;
    line-height: 1.618em;
    display: inline;
    font-weight: 100; }

.sixth {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .sixth:before, .sixth:after {
    content: " ";
    display: table; }
  .sixth:after {
    clear: both; }

#message {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  padding: 10px; }
  #message:last-child {
    margin-right: 0; }
  @media screen and (max-width: 700px) {
    #message {
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: 204.82916%; }
      #message:last-child {
        margin-right: 0; } }

#list {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  padding: 10px; }
  #list:last-child {
    margin-right: 0; }
  @media screen and (max-width: 700px) {
    #list {
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: 204.82916%; }
      #list:last-child {
        margin-right: 0; } }
  #list .box {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    #list .box:last-child {
      margin-right: 0; }
    #list .box:nth-child(2n) {
      margin-right: 0; }
    #list .box:nth-child(2n+1) {
      clear: left; }
    @media screen and (max-width: 700px) {
      #list .box {
        float: left;
        display: block;
        margin-right: 4.82916%;
        width: 47.58542%; }
        #list .box:last-child {
          margin-right: 0; }
        #list .box:nth-child(1n) {
          margin-right: 0; }
        #list .box:nth-child(1n+1) {
          clear: left; } }
    #list .box .inner {
      padding: 10px;
      margin-bottom: 5px;
      border-radius: 5px;
      border: 1px solid #999; }

.date {
  font-size: 0.8em;
  color: gray;
  margin-top: 5px; }
