<head>
  <title>stream-ui</title>
</head>

<body>
  {{> home}}
</body>

<template name="home">
  <header>
    <h1>Hello World!</h1>
  </header>

  <section class="sixth">
    <pre>@include outer-container;
    $mobile: new-breakpoint(max-width 500px 6);
    </pre>
    <div id="comment">
      <form class="message-form">
        <div class="text">
          <div class="label">Message</div>
          <textarea cols="30" rows="5"></textarea>
        </div>
      </form>
      <a class="save" href="#">Save</a>
    </div>
    <div id="list">
      {{#if messages}}
        <ul>
          {{#each messages}}
            <li>{{text}}</li>
          {{/each}}
        </ul>
      {{else}}
        <p class="notice">No Messages!</p>
      {{/if}}
    </div>
  </section>

</template>
