<head>
  <title>stream-ui</title>
</head>

<body>
  {{> home}}
</body>

<template name="home">
  <h1>Hello World!</h1>

  <form class="message-form">
    <div class="text">
      <div class="label">Message</div>
      <textarea cols="30" rows="5"></textarea>
    </div>
<!--     <div class="tags">
      <div class="label">Tags</div>
      <input type="text" />
    </div>
 -->  </form>

  <a class="save" href="#">Save</a>

  <hr />

  <div class="message"> 
    {{#if messages}}
      <ul>
        {{#each messages}}
          <li>{{text}}</li>
        {{/each}}
      </ul>
    {{else}}
      <p class="notice">No Messages!</p>
    {{/if}}
  </div>

</template>
