<head>
    <title>1%Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/leapstrap.css" />
    <link rel="stylesheet" href="css/dashboard.css" />
</head>
<body>
    <div class="row">
        {{> home}}
    </div>
</body>

<template name="home">
    <div class="col-md-8">
        {{#if campaign}}
            <div class="current-campaign" style="background-image: url('{{campaign.image}}')">
                <header>
                    <div class="row">
                        <div class="col-md-2">
                            <img src="{{campaign.owner.avatar}}" class="icon" />
                        </div>
                        <div class="col-md-10">
                            <div class="over-title"><strong>{{campaign.owner.full_name}}</strong> is campaigning for</div>
                            <h1>{{campaign.title}}</h1>
                            <div class="sub-title">
                                <span class="country-name">{{campaign.country.name}}</span> <span class="country-region">{{campaign.country.subregion}}</span>
                            </div>
                        </div>
                    </div>

                </header>
                <footer>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="project-fund">
                                <p class="project-fund-amount">
                                    <strong class="amount-donated">€{{campaign.amount_donated}}</strong>
                                    of
                                    <strong class="amount-asked">€{{campaign.amount_asked}}</strong>
                                    raised
                                </p>
                                <div class="project-fund-amount-slider">
                                    <strong style="width: {{percentFunded}}%; overflow: hidden;" class="slider-progress is-in-progress {{sliderCls}}">
                                    </strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        {{/if}}
    </div>

    <div class="col-md-4 item-list catcher vertical leap-interactive message-container" leap-disable-tap="true">
        <div class="messages">
            {{> donations}}
        </div>
    </div>

</template>
