<head>
    <title>1%Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/leapstrap.css" />
    <link rel="stylesheet" href="css/dashboard.css" />
</head>
<body>
    <div class="row">
        {{> home}}
    </div>
</body>

<template name="home">
    <div class="col-md-8">
        {{#if campaign}}
            <div class="current-campaign" style="background-image: url('{{campaign.image}}')">
                <header>
                    <div class="row">
                        <div class="col-md-2">
                            <img src="{{campaign.owner.avatar}}" class="icon" />
                        </div>
                        <div class="col-md-10">
                            <div class="over-title"><strong>{{campaign.owner.full_name}}</strong> is campaigning for</div>
                            <h1>{{campaign.title}}</h1>
                            <div class="sub-title">
                                <strong>{{campaign.country.name}}</strong> {{campaign.country.subregion}}
                            </div>
                        </div>
                    </div>

                </header>
                <footer>
                    <div class="row">
                        <strong style="width: 32.953105196451205%; overflow: hidden;" class="slider-progress is-in-progress">
                            <em class="slider-percentage">0%</em>
                        </strong>
                        <div class="project-fund">
                            <p class="project-fund-amount">
                                <strong class="amount-donated">€ {{campaign.amount_donated}}</strong>
                                of
                                <strong class="amount-asked">€{{campaign.amount_asked}}</strong>
                                raised
                            </p>
                            <div id="ember2016" class="ember-view">
                                <div class="project-fund-amount-slider">
                                    <strong style="width: {{campaign.percent_donated}}%; overflow: hidden;" class="slider-progress is-in-progress">
                                    </strong>
                                </div>
                            </div>
                        </div>
                        {{campaign.deadline}}
                    </div>
                </footer>
            </div>
        {{/if}}
    </div>

    <div class="col-md-4 item-list catcher vertical leap-interactive" leap-disable-tap="true">
        {{> messages}}
    </div>

</template>
