body {
	overflow: hidden;
}

.col-md-8 {
	height: 1080px;
	position: relative;
}

.current-campaign {
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.message-container {
	background: #f3f3f3;

	.messages {
		background: #f3f3f3;
		margin: -10px 0 0 -30px;
		padding: 10px 0 0 30px;
	}
}

.www-onepercentclub-com,
.onepercentclub-com {
    background-color: #ff6191;
}

.crowdfunding-gent {
    background-color: #812C7C;
}

.hetluktons-nl {
    background-color: #F07E06;
}

.cares-booking-com {
    background-color: #003580;
}

.utrecht-crowdfunding-nl {
    background-color: #C00;
}
