footer {
	color: white;
	font-weight: bold;
	bottom: 0px;
	position: fixed;
	width: 100%;
	margin: 0px;
	background-color: rgba(0,0,0, 0.8);
    padding: 20px;

    .project-fund-amount {
  		word-spacing: 5px;
    	
    	strong {
  			font-weight: 100;
	  		font-size: 1.5em;
	  	}
    }

	.project-fund-amount-slider {
	    border-radius: 1em;
	    display: block;
	    overflow: hidden;
	    background-color: rgba(255, 0, 0, 0.5);
	    
	    .slider-progress {
	        position: relative;
	        display: block;
	        border-radius: 1em 0 0 1em;
	        background-color: green;
	        color: blue;
	        text-align: right;
	        white-space: nowrap;
	        line-height: 1em;
	        height: 1.5em;
	        
	        .slider {
	            padding: 0 0.5em;
	            font-style: normal;
	        }

	        .slider-percentage {
	            visibility: hidden;
	        }
	    }
	}

}