footer {
	color: white;
	font-weight: bold;
	bottom: 0px;
	position: fixed;
	width: 100%;
	margin: 0px;
	background-color: rgba(0,0,0, .8);
    padding: 20px;

    .tenant-logo-bg {
		background-color: rgba(255,255,255, .2);
		max-width: 95%;
		padding: 10px;
		border-radius: 10px;
		text-align: center;
    }

    .project-fund-amount {
  		word-spacing: 5px;
  		font-weight: 100;
    	
    	strong {
  			font-weight: 200;
	  		font-size: 1.5em;
	  	}
    }

	.project-fund-amount-slider {
	    border-radius: 1em;
	    display: block;
	    overflow: hidden;
	    background-color: rgba(216, 216, 216, .15);
	    
	    .slider-progress {
	        position: relative;
	        display: block;
	        border-radius: 1em 0 0 1em;
	        color: blue;
	        text-align: right;
	        white-space: nowrap;
	        line-height: 1em;
	        height: 1em;
	        
	        .slider {
	            padding: 0 0.5em;
	            font-style: normal;
	        }

	        .slider-percentage {
	            visibility: hidden;
	        }
	    }
	}

}